<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'home view'%}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'create team view'%}">Create Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'all teams view'%}">All Teams</a>
                </li>
                {% if user.is_authenticated %}

                {% include 'navigation/logged_user.html' with user=user%}

                
                {%else%}

                {% include 'navigation/annonimous.html'%}

                {%endif%}

            </ul>
        </div>
    </div>
</nav>