{% extends "base.html" %}
{%load static %}


<title>{% block title%}Home Page{% endblock %}</title>

{% block css_path %}{% static 'css/catalog.css' %}{%endblock%}
{% block js_path %}{% static 'js/catalog.js'%}{%endblock%}

{%block main_container%}

<div class="container">
    <div class="row">
        <div class="col-9">
            <h1>MENU</h1>
        </div>
        <hr class="md-2 mt-2">

        {% for i in food %}
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="{% static i.image.url %}" class="card-img-top" alt="image">
                <div class="card-body" id=" {{i.id}}">
                    <h5 class="card-title d-grid gap-2 col-6 mx-auto">{{i.title}}</h5>
                    <!-- <p class="card-text d-grid gap-2 col-6 mx-auto">{{i.description}}</p> -->
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-warning" type="button">{{i.price|floatformat:2}} lv.</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<script>
    document.addEventListener('click', (e) => {
        e.preventDefault()
        let cardId;
        let clickedItem = e.target;
        if (clickedItem.tagName == 'IMG') {
            cardId = clickedItem.parentElement.querySelector(".card-body").id;
        } else if (clickedItem.tagName == 'DIV') {
            cardId = clickedItem.id;
        } else if (clickedItem.tagName == 'BUTTON') {
            cardId = clickedItem.parentElement.parentElement.id
        } else if (clickedItem.tagName == 'H5') {
            cardId = clickedItem.parentElement.id
        }

        cardId = Number(cardId)

        window.location.pathname = 'price/' + cardId + '/';


    });
</script>

{%endblock%}